body {
    background-color: gainsboro;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0;
    text-align: center;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    margin: 0 auto;
  }
  
  .sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
  }

  #reset {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 15px;
    height: 40px;
    border-radius: 10px;
  }
  
  #reset:hover {
    transition-duration: 0.2s;
    background-color: lightgrey;
  }